@use "sass:math";

@function spToRem($number) {
  @return math.div($number, 16);
}

@mixin type($height: 20, $size: 14, $space: 0.25) {
  line-height: #{spToRem($height)}rem;
  font-size: #{spToRem($size)}rem;
  letter-spacing: #{spToRem($space)}rem;
}

$display-weight: 400;

@mixin display-large {
  @include type(64, 57, -0.25);
  font-weight: $display-weight;
}

@mixin display-medium {
  @include type(52, 45, 0);
  font-weight: $display-weight;
}

@mixin display-small {
  @include type(44, 36, 0);
  font-weight: $display-weight;
}

$headline-weight: 400;

@mixin headline-large {
  @include type(40, 32, 0);
  font-weight: $headline-weight;
}

@mixin headline-medium {
  @include type(36, 28, 0);
  font-weight: $headline-weight;
}

@mixin headline-small {
  @include type(36, 24, 0);
  font-weight: $headline-weight;
}

$title-weight-large: 400;
$title-weight: 500;

@mixin title-large {
  @include type(28, 22, 0);
  font-weight: $title-weight-large;
}

@mixin title-medium {
  @include type(24, 16, 0.15);
  font-weight: $title-weight;
}

@mixin title-small {
  @include type(20, 14, 0);
  font-weight: $title-weight;
}

$label-weight: 500;

@mixin label-large {
  @include type(20, 14, 0.1);
  font-weight: $label-weight;
}

@mixin label-medium {
  @include type(16, 12, 0.5);
  font-weight: $label-weight;
}

@mixin label-small {
  @include type(16, 11, 0.5);
  font-weight: $label-weight;
}

$body-weight: 400;

@mixin body-large {
  @include type(24, 16, 0.5);
  font-weight: $body-weight;
}

@mixin body-medium {
  @include type(20, 14, 0.25);
  font-weight: $body-weight;
}

@mixin body-small {
  @include type(16, 12, 0.4);
  font-weight: $body-weight;
}
