:root {
  --md-source: #ad5dff;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #2c0051;
  --md-ref-palette-primary20: #480081;
  --md-ref-palette-primary25: #58009b;
  --md-ref-palette-primary30: #6700b5;
  --md-ref-palette-primary35: #7517c6;
  --md-ref-palette-primary40: #822cd3;
  --md-ref-palette-primary50: #9d4cee;
  --md-ref-palette-primary60: #b56eff;
  --md-ref-palette-primary70: #c994ff;
  --md-ref-palette-primary80: #dcb8ff;
  --md-ref-palette-primary90: #f0dbff;
  --md-ref-palette-primary95: #f9ecff;
  --md-ref-palette-primary98: #fff7ff;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #21182a;
  --md-ref-palette-secondary20: #362c3f;
  --md-ref-palette-secondary25: #42374b;
  --md-ref-palette-secondary30: #4d4357;
  --md-ref-palette-secondary35: #594e63;
  --md-ref-palette-secondary40: #655a6f;
  --md-ref-palette-secondary50: #7f7288;
  --md-ref-palette-secondary60: #998ca3;
  --md-ref-palette-secondary70: #b4a6be;
  --md-ref-palette-secondary80: #d0c1da;
  --md-ref-palette-secondary90: #edddf6;
  --md-ref-palette-secondary95: #f9ecff;
  --md-ref-palette-secondary98: #fff7ff;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #321017;
  --md-ref-palette-tertiary20: #4b252b;
  --md-ref-palette-tertiary25: #582f36;
  --md-ref-palette-tertiary30: #653a41;
  --md-ref-palette-tertiary35: #73464c;
  --md-ref-palette-tertiary40: #805158;
  --md-ref-palette-tertiary50: #9c6a70;
  --md-ref-palette-tertiary60: #b88389;
  --md-ref-palette-tertiary70: #d59ca3;
  --md-ref-palette-tertiary80: #f3b7be;
  --md-ref-palette-tertiary90: #ffd9dd;
  --md-ref-palette-tertiary95: #ffeced;
  --md-ref-palette-tertiary98: #fff8f7;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1d1b1e;
  --md-ref-palette-neutral20: #322f33;
  --md-ref-palette-neutral25: #3d3a3e;
  --md-ref-palette-neutral30: #49464a;
  --md-ref-palette-neutral35: #555155;
  --md-ref-palette-neutral40: #615d61;
  --md-ref-palette-neutral50: #7a767a;
  --md-ref-palette-neutral60: #948f94;
  --md-ref-palette-neutral70: #afaaae;
  --md-ref-palette-neutral80: #cbc5c9;
  --md-ref-palette-neutral90: #e7e1e5;
  --md-ref-palette-neutral95: #f5eff4;
  --md-ref-palette-neutral98: #fef7fc;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #1e1a22;
  --md-ref-palette-neutral-variant20: #332f37;
  --md-ref-palette-neutral-variant25: #3f3942;
  --md-ref-palette-neutral-variant30: #4a454e;
  --md-ref-palette-neutral-variant35: #565059;
  --md-ref-palette-neutral-variant40: #625c66;
  --md-ref-palette-neutral-variant50: #7b757e;
  --md-ref-palette-neutral-variant60: #968e98;
  --md-ref-palette-neutral-variant70: #b1a9b3;
  --md-ref-palette-neutral-variant80: #ccc4ce;
  --md-ref-palette-neutral-variant90: #e9dfeb;
  --md-ref-palette-neutral-variant95: #f7eef9;
  --md-ref-palette-neutral-variant98: #fff7ff;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #822cd3;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #f0dbff;
  --md-sys-color-on-primary-container-light: #2c0051;
  --md-sys-color-secondary-light: #655a6f;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #edddf6;
  --md-sys-color-on-secondary-container-light: #21182a;
  --md-sys-color-tertiary-light: #805158;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffd9dd;
  --md-sys-color-on-tertiary-container-light: #321017;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1d1b1e;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #1d1b1e;
  --md-sys-color-surface-variant-light: #e9dfeb;
  --md-sys-color-on-surface-variant-light: #4a454e;
  --md-sys-color-outline-light: #7b757e;
  --md-sys-color-inverse-on-surface-light: #f5eff4;
  --md-sys-color-inverse-surface-light: #322f33;
  --md-sys-color-inverse-primary-light: #dcb8ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #822cd3;
  --md-sys-color-outline-variant-light: #ccc4ce;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #dcb8ff;
  --md-sys-color-on-primary-dark: #480081;
  --md-sys-color-primary-container-dark: #6700b5;
  --md-sys-color-on-primary-container-dark: #f0dbff;
  --md-sys-color-secondary-dark: #d0c1da;
  --md-sys-color-on-secondary-dark: #362c3f;
  --md-sys-color-secondary-container-dark: #4d4357;
  --md-sys-color-on-secondary-container-dark: #edddf6;
  --md-sys-color-tertiary-dark: #f3b7be;
  --md-sys-color-on-tertiary-dark: #4b252b;
  --md-sys-color-tertiary-container-dark: #653a41;
  --md-sys-color-on-tertiary-container-dark: #ffd9dd;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1d1b1e;
  --md-sys-color-on-background-dark: #e7e1e5;
  --md-sys-color-surface-dark: #1d1b1e;
  --md-sys-color-on-surface-dark: #e7e1e5;
  --md-sys-color-surface-variant-dark: #4a454e;
  --md-sys-color-on-surface-variant-dark: #ccc4ce;
  --md-sys-color-outline-dark: #968e98;
  --md-sys-color-inverse-on-surface-dark: #1d1b1e;
  --md-sys-color-inverse-surface-dark: #e7e1e5;
  --md-sys-color-inverse-primary-dark: #822cd3;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #dcb8ff;
  --md-sys-color-outline-variant-dark: #4a454e;
  --md-sys-color-scrim-dark: #000000;
}
